/*
MAJOR STYLES
*/
a:link {
	color: #676965;
	text-decoration: none;
}
a:visited {
	text-decoration: none;
	color: #676965;
}
a:hover {
	text-decoration: none;
	color: #676965;
}
a:active {
	text-decoration: none;
	color: #676965;
}

body, html
{
    margin: 0px;
    padding: 0px;
}

input, textarea
{
    margin-top: 1px;
    margin-left: 10px;
    padding: 2px;
    border: 1px solid #aaa;
    font-size: 11px;
    font-family: Trebuchet MS, sans-serif, Nimbus Sans L;
}

textarea{
    margin-top: 0px;
    margin-left: 0px;
    padding:0px;
    background-color: #fff;
}

.titre {
	font-family: Trebuchet MS, Helvetica, Nimbus Sans L, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: black;
	width: 100%;
	text-align: left;
}

.titre input, .backImage{
    margin-top: 0px;
    margin-left: 0px;
    padding: 2px;
    border: 1px solid #79f;
}

.tooltipped
{
   background-color: #ffffc0;
}

#sidebar_rootdir_td
{
   height: 17px;
   vertical-align: top;
}

#sidebar_tree_td
{
   vertical-align: top;   
}

#sidebar_searchform_td
{
   vertical-align: bottom;
   height: 20px;
}

.thumbnail_selectable_cell
{
   width: 110px;
   height: 100px;
   border: 1px solid #eee;
   float: left;
   text-align: center;
   margin: 2px;
   background-color: #f9f9f9;
   -moz-border-radius : 5px;
   border-radius : 5px;
}

.thumbLabel
{
   /*overflow: hidden;*/
}

.img_cont
{
   width: 64px;
   height: 64px;
   border: 1px solid #ddd;
   vertical-align: middle;   
}

.text_label{
	display:block;
	float:left;
	overflow:hidden;
	padding-left:2px;
	padding-top:2px;
	height: 18px;
	white-space : nowrap;
}

.list_selectable_span img {
	float: left;
}

/*
DIALOG BOXES
*/
/*#upload_form, #createdir_form, #createfile_form, #rename_div*/
#all_forms 
{
    background-color: #eee;
}
#all_forms div{display:none;}
#all_forms form{display:inline;}

#all_forms div div, 
#all_forms div.shadow_class
{display:block;}

div.shadow_class
{
	-moz-border-radius:5px;
	border-radius:5px;
}


.dialogBox, .editBox
{
	/*background-image: url('../images/strip.png');*/
	background-color: #f1f1ef;
    display: none;
    position: absolute;
    top: 30%;
    left: 30%;
    z-index: 1002;
    font-family: Trebuchet MS, sans-serif;
    font-size: 11px;
    padding:5px;
    border: 1px solid #989A95;
	-moz-border-radius:5px;
	border-radius:5px;
}

.editBox
{
    top:5%;
    left:5%;
    padding: 0px;
    margin:0px;
}

.dialogTitle
{
	color:#333333;	
	cursor:move;
	padding:0px 4px 4px;
}

.dialogContent
{
    background-color: #fff;
    padding: 10px 10px;
    border: 1px solid #989A95;
	-moz-border-radius:0 0 3 3px;
	border-radius:0 0 3 3px;
    
}

.dialogContent input,
.dialogContent input[type="text"],
.dialogContent input[type="password"],
.dialogContent select
{
    margin-left:0px;
    width: 180px;
    border: 1px solid #aaa;
    background-image:url('../images/locationBg.gif');
    background-repeat: no-repeat;
    background-position: top left;    
}

.dialogLegend
{
    color:#aaa;
    font-size:0.9em;
}

.dialogButtons
{
    text-align: right;
    clear:both;
}

.dialogButtons input,
fieldSet input.dialogButton
{
    margin-left: 6px;
    width: 22px;    
    height: 22px;    
    padding:0px;
    background-image: none;
    background-color: #f1f1ef;
}

.editContent, .editContent div
{
    background-color: #fff;
}

.editContent textarea, textarea#myCode, .editContent iframe
{
    border:0px;
    border-left:1px solid #79f;
    padding:0px;
    margin:0px;
}

textarea#myCode
{
    border: 1px solid #666;
    border-right-color: #ccc;
    border-left-color: #ccc;
}

.dialogContent form, .editContent form
{
    display: inline;
    margin: 0px;
}

.dialogButton
{
	border-bottom: 1px solid buttonshadow;
	border-right: 1px solid buttonshadow;
	border-top: 1px solid #fff;
	border-left: 1px solid #fff;
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 1px;
	padding-bottom: 1px;
	margin-top: 5px;
}

.dialogArrow
{
    font-weight: bold;
    font-size: 16px;
}

#fancyframe
{
    border:0px;
    width: 410px;
    height: 385px;
}

#flashframe
{
    border:0px;
    width: 450px;
    height: 300px;
    overflow:hidden;
    margin-top: -9px;
}

/********************/
/* MESSAGE BOX      */
/********************/
#message_div
{
    position: absolute;
    z-index: 1500;
    cursor: pointer;
}
#message_content
{
    font-family: Trebuchet MS, sans-serif, Helvetica, Arial;
    font-size: 11px;
    color:#fff;    
    padding: 10px;
}

.errorMessage
{
    background-color: #960000;
    cursor: pointer;
	filter:alpha(opacity=90);
	opacity: 0.90;
	-moz-opacity:0.90;    
}

.logMessage
{
    background-color: #009600;
	filter:alpha(opacity=90);
	opacity: 0.90;
	-moz-opacity:0.90;    
}

.simple_tooltip
{
	position:absolute;
	width:100;
	z-index:10000;
	border:1px solid #696765;
	color : #696765;
	background-color: #fff;
	filter:alpha(opacity=90);
	opacity: 0.90;
	-moz-opacity:0.90;    
	font-family: Trebuchet MS, Helvetica, Sans-serif;
	font-size: 10px;
}


/********************/
/* PROGRESS BAR     */
/********************/
#progressBox
{
    display: block;
    z-index: 2002;
    top: 20%;
	-moz-border-radius : 5px;
	border-radius : 5px;
}

#progressBox div
{
	-moz-border-radius : 5px;
	border-radius : 5px;
}

/*************************/
/* SF like "Standard Form" DATA : try to make a "standard"...
/*************************/
div.SF_element{
	padding-top:5px;
	clear:left;
}

div.SF_disabled{
	color: #ccc;
	font-style:italic;
}

div.SF_label{
	float: left; 
	width: 39%; 
	text-align: right; 
	padding: 3px;
	padding-right:1%;
	padding-left:0;
	white-space: nowrap; /* css-3 */
	word-wrap: no break-word; /* Internet Explorer 5.5+ */	
}

.SF_input{
	float:left;
	padding:1px !important;
	width: 59% !important;
	_width:54% !important; /*IE*/
}

.SF_box{
   width: 20px !important;
}


/***************/
/*ACTION BAR   */
/***************/
.centeredWidth{
}

#toolbars
{
}

.toolbars_separator
{
    border-bottom: 1px solid #fff;
    border-top: 1px solid buttonshadow;
}

.toolbar_title{
    font-size:15px;
    font-weight:bold;
    color: #ddd;
}

#tree_container{
    background-color: #fff;
}

.panelHeader{
    border: none;
	background-color: #f1f1ef;
	font-family: Trebuchet MS, sans-serif;
	font-size: 12px;
	padding: 3 2 2 7;
	margin-bottom:0px;
	color: #676965;
	vertical-align: middle;
	background-color: #f1f1ef;
	border-bottom : 1px solid #676965;
	height: 18px;
}

#action_bar, 
.action_bar
{
    background-color: #f1f1ef;
    font-family: Arial;
    font-size: 12px;
    padding: 0px;
}

.action_bar
{
	height: 51px;
    background-color: transparent;
    background-image:url(../images/ToolbarBg.gif);
	overflow:hidden;
}

#buttons_bar, #locationbar_cont
{
   /* background-color: #e0ecff;*/
}

#buttons_bar
{
	background-image:url(../images/ToolbarBg.gif);
	border-bottom:1px solid #C4C7C1;
	height:51px;
	padding-left:0px;
	padding-top:0;
	overflow:hidden;
}

#action_bar a, 
.action_bar a
{    
	background-repeat: no-repeat;
	background-position: center;
	display:block;
	float:left;
	font-size:9px;
	height:44px;
	margin-right:5px;
	margin-top:3px;
	padding:0px;
	text-align:center;
	overflow:visible;
	color: expression('#676965');
	outline:none;
	-moz-border-radius : 5 5 0 0px;
	border-radius : 5 5 0 0px;
}

#action_bar a.menuAnchorSelected
{
   background:white;
}

.action_bar a span{
	padding: 0 5px;
}

#action_bar a.disabled,
.action_bar a.disabled,
#action_bar a.disabled:hover,
.action_bar a.disabled:hover
{
    color: expression('#c4c7c1');
}

#action_bar a img,
.action_bar a img
{
    margin-bottom: 3px;
    margin-top: 8px;    
}


#action_bar div.separator,
#action_bar a.separator,
.action_bar div.separator
{    
	border-left:1px solid #c4c7c1;
	border-right:1px solid #c4c7c1;
	display:block;
	float:left;
	font-size:10px;
	height:51px;
	margin-left:0;
	margin-right:9px;
	padding-top:0;
	text-align:center;
	width:3px;
}

a.carousel-control{
	border-left:1px solid #c4c7c1;
	border-right:1px solid #c4c7c1;
	border-bottom:1px solid #c4c7c1;
	display:block;
	float:left;
	font-size:10px;
	height:51px !important;
	padding-top:0;
	text-align:center;
	width:8px!important;
	margin:0px !important;
	cursor:pointer;
	background-color: #fff;
}
a.carousel-disabled{
	background-color: transparent;
}

a.carousel-control img{
	margin-top:20px !important;
}

.action_bar div.separator
{
    /*border-right: 1px solid #79f;*/    
}

#locationbar_cont
{
	background-image:url(../images/ToolbarBg.gif);
	background-position:center center;
	background-repeat:repeat-x;
	height:33px;
	width:100%;
}

#locationBar{

}

#location_form,
#repository_form
{
	background-color:#FFFFFF;
	background-image:url(../images/locationBg.gif);
	background-position:left top;
	background-repeat:no-repeat;
	border:1px solid #BBBBBB;
	border-right-width:0px;
	float:left;
	height:20px;
	padding:2px 0 0 4px;
}

#repository_form, #goto_parent
{
	-moz-border-radius : 5 0 0 5px;
	border-radius : 5 0 0 5px;
}

#repository_goto, #bookmarks_goto
{
	-moz-border-radius : 0 5 5 0px;
	border-radius : 0 5 5 0px;
}

#location_form
{
    margin-left: 0px;
}

#repository_form
{
    width: 120px;
}

#location_form input, 
#repository_form input
{
    margin:1px 0px 0px 0px;
    _margin: 0px 0px 1px 0px;
    border:none;
    height: 15px;
    width: 325px;
}

#repository_form input
{
    width: 90px;
    margin-left: 3px;
}

#repo_chooser{
	max-width:170px;
}

.inlineBarButton,
.inlineBarButtonLeft,
.inlineBarButtonRight
{
	display:inline;
	border: 1px solid #bbb;
    height: 22px;
    float:left;
    padding:0 1px;
    cursor:pointer;
}

.inlineBarButtonLeft{
	border-left-width:0px;
}
.inlineBarButtonRight{
	border-right-width:0px;
}

.inlineBarButton img,
.inlineBarButtonLeft img,
.inlineBarButtonRight img
{
	margin-top:3px;
	display:inline;
	border:0px;
}

.inline_hover
{
	background-image:url(../images/header_bg_on.png);
	background-position:top;
	background-repeat: repeat-x;
}

.inline_disabled img
{
	filter:alpha(opacity=30);
	opacity: 0.3;
	-moz-opacity:0.3;
	cursor:default;
}

/*
#logging_string
{
   color: #084165;
   font-size: 15px;
   font-family: Trebuchet MS, sans-serif;      
   font-weight: bold;
   padding-right: 3px;
}
*/
#logging_string {
   float: right;
	color:#666666;
	font-family:Trebuchet MS,sans-serif;
	font-size:12px;
   padding-top: 3px;
   padding-right: 4px;
}
#logging_string i
{
	font-weight:bold;
}
#logging_string i img
{
    font-style: normal;    
    cursor: pointer;
	margin-left:3px;
	margin-right:7px;
	margin-top:-4px;
}


.locationbar_title
{
    display:inline;
    font-family:Trebuchet MS, sans-serif, Helvetica, Arial;
    color: #79f;
    font-size:15px;
    font-weight:bold;
    float:left;
}

#current_path, 
#repo_path
{
    /*width: 455px;*/
    border:none;
    height: 20px;
    padding:0px;
    padding-left:3px;
    padding-top:0px;
    font-size: 11px;
}

#current_path{
    padding-left:0px;
}

/********************************/
/* SLIDER*/
/*********************************/

.slider-pane{
	background-color:#f1f1ef;
	border:1px solid #CCCCCC;
	padding:5px 2px;
	position:absolute;
	width:11px;
	z-index:10000;
}

.slider-handle,
.slider-pane div.selected
{
	background-image:url("../images/slider-handle-vert.png");
	background-position:top center;
	background-repeat:no-repeat;
	background-color: transparent !important;
	height:15px;
	width:10px;
}

.slider-tracker {
	background-image : url("../images/slider-track-bottom.png");
	background-position:bottom center;
	background-repeat:no-repeat;
}

.slider-tracker-top {
	background-image : url("../images/slider-track-top.png");
	background-position:top center;
	background-repeat:no-repeat;
}


/*********************************/
/* FILE LIST SKINNING
/********************************/
.sort-table {
	font-family:Trebuchet MS, sans-serif;
	font-size: 11px;
}

.sort-table thead {
	background-color:	#aaa;
}

.sort-table td {
	padding:	2px 5px;
}

.sort-table thead td {
    background-color: #ddd;
	border-bottom:	none;
	cursor:			pointer;
	border-right: 	1px solid buttonhighlight;
	font-size:12px;
	color: #676965;
	padding: 0px;
	background-color: #f1f1ef;
	border-bottom : 1px solid #676965;
}

.sort-table thead td div {
	padding-left: 7px;
	padding-top: 3px;
	height: 20px;	
	overflow:hidden;
	white-space:nowrap;
}

.sort-table thead td.descending {
	background-color: #daddd7;
	background-image: url("../images/arrow_up_margin.png");
	background-repeat : no-repeat;
	background-position : right center;
}

.sort-table thead td.ascending {
	background-color: #daddd7;
	background-image: url("../images/arrow_down_margin.png");
	background-repeat : no-repeat;
	background-position : right center;
}

#last_header{
   border-right: 	0px solid #ddd;
   widht: auto !important;
}

#last_header:active{
}

.sort-table thead td:active {
	background-color: #c4c7c1;
}

.column_resize_grabber {
	display:block;
	width: 3px;
	float:right;
	height: 23px;
	font-size: 0px;
	cursor:e-resize;
}

.even
{
    background-color: #f4f4f4;
}

.odd
{
}

.selected
{
	background: #ddd;
	color : #404040;
	text-decoration: none;
}

.selected-focus
{
    color: #fff !important;
	background-color:#73a2d7 !important;
}

.droppableZone
{
   background-color: #c3d9ff;
   /*border: 1px dotted #666;*/
}

.paginator
{
	background-color:#fff8d1;
	border-bottom-color:#dddddd;
	border-bottom-style:solid;
	border-bottom-width:1px;
	font-family:Trebuchet MS;
	font-size:11px;
	height:20px;
	padding-top:2px;
	text-align:center;
}

.paginatorInput
{
	width:26px;
	padding: 0 2;
	height: 16px;
	text-align: right;
	border: 1px solid #CCCCCC;
	margin-right: 2px;
	margin-left: 5px;
}

div.multiple_selection_draggable
{
    display: block;
    color: #000;
    background-color: #fff;
    padding: 5px;
    padding-bottom:0px;
    border: 1px dashed #999;
    font-family: Trebuchet MS, sans-serif;
    font-size: 11px;    
	cursor:default;
	overflow:hidden;
}

div.selection_ctrl_key
{
    background-image:url('../images/0.gif');
    background-repeat: no-repeat;
    background-position: bottom right;
}


a.disabled
{
  filter:alpha(opacity=30);
  opacity: 0.3;
  -moz-opacity:0.3;
}

a.enabled
{
  filter:alpha(opacity=100);
  opacity: 1;
  -moz-opacity:1;
}

#action_bar a.disabled:hover,
.action_bar a.disabled:hover
{
    background-color: transparent;
    cursor: default;
}

#action_bar a.disabled,
.action_bar a.disabled
{
	filter:alpha(opacity=100);
	opacity: 1;
	-moz-opacity:1;
}

#action_bar a.disabled img,
.action_bar a.disabled img,
#action_bar a.disabled span,
.action_bar a.disabled span
{
  filter:alpha(opacity=30);
  opacity: 0.3;
  -moz-opacity:0.3;	
}

.action_bar
{
    /*background-color: #CCDDEE;*/
}

/*
BOOKMARKS BAR
*/
#bm_bar_cont
{
    /*background-color: #ddd;*/
}


#bookmarks_bar
{
    display: none;
    background-color: #fff;
    position:relative;
    width:86%;
    left:7%;
    height: 25px;
    padding: 0px;
    padding-left:10px;
}

#bmbar_title
{
    color: #ddd;
    float:right;
    display:inline;
    font-family:Trebuchet MS, sans-serif, Helvetica, Arial;
    font-size:15px;
    font-weight:bold;
}

a.bookmark_button
{
    text-decoration: none;
    padding-right: 10px;
}

#bookmarks_bar a
{
    display: block;
    float:left;
}

div.bm, div.bm_hover
{    
   /* border: 1px solid #ddd;*/
	filter:alpha(opacity=30);
	opacity: 0.3;
	-moz-opacity:0.3;
    display: block;
    float: right;
    text-align: center;    
    font-size: 11px;
    padding: 3px;
    margin-right: 5px;
    /*background-color: #ddd;*/
    font-family: Trebuchet MS, sans-serif;
    color: #333;    
}

div.bm_hover
{
	filter:alpha(opacity=100);
	opacity: 1;
	-moz-opacity:1;
    text-decoration: none;
    /*
	border-top: 1px solid #fff;
	border-left: 1px solid #fff;
	border-right: 1px solid buttonshadow;
	border-bottom: 1px solid buttonshadow;    
    background-color: #ddd;
    */
}

.extendedMenu
{
     float:none;
}

/*
UPLOAD MULTIFILE FORM
*/
div#upload_files_list, div#multiple_download_container
{
   background-color: white;
   overflow: auto;
   height: 250px;
   width : 320px;
   border: 1px solid #ccc;
   text-align: left;   
	-moz-border-radius : 5px;
	border-radius : 5px;
}

.droparea {
	background:url("../../../../content.php?get_action=get_drop_bg") no-repeat scroll right bottom transparent;
}

.dropareaHover {
	border-color:#D96252 !important;
}

div#total_files_list, div#uploader_options_pane
{
-moz-border-radius:5px 5px 5px 5px;
border-radius:5px 5px 5px 5px;
background-color:white;
border:1px solid #CCCCCC;
font-size:11px;
height:39px;
overflow:hidden;
padding:5px 10px;
text-align:left;
width:301px;
}

div#uploader_options_pane {
	height: 59px;
}

div#uploader_options_pane input {
	width: 15px;
	margin-right: 0px;
	margin-left: 0px;
	margin-top: 5px;
}

div#upload_files_list div, div#multiple_download_container div
{
   overflow: hidden;
   border-bottom: 1px solid #fff;
   background-color: #efefef;
   padding-top: 6px;   
   padding-bottom: 6px; 
   padding-left: 6px;
}
#upload_files_list img
{
   margin-right: 6px;
}

#upload_files_list div a
{
   color: #ddd;
   font-style: italic;   
}
#upload_files_list div a:hover
{
    text-decoration:none;
    color: #d00;
}

#multiple_download_container div a
{
    display: block;
}
#multiple_download_container div a:hover
{
    text-decoration:none;
    color: #aaa;
}
#fileInputContainer {  
        vertical-align: top;  
}  
#fileInputContainerDiv {  
        height: 120px;  
        width: 62px; /* to fit 1px border */  
        margin: 0;  
        padding: 0;  
        position: relative;  
        overflow: hidden;  
        vertical-align: top;  
}  
#fileInputContainer input {  
        filter:alpha(opacity:0); opacity:0; moz-opacity:0;       
        position: absolute;  
        font-size: 60px; /* causes it to fill the containing div */  
        top:0px; right:0px;  
        z-index: 10000;  
        height: 56px;  
}  
#fileInputPos {  
        text-align: left;   
        height: 60px;  
        width: 60px;  
        position: absolute;  
        top: 0px; right: 0px;  
        overflow: hidden;  
        z-index: 9999; /* this was needed to work in IE */  
}

.fakeUploadButton {
	width: 60px;
	padding-top: 8px;
	padding-bottom: 5px;
	border: 1px solid #ccc;
	background-color: white;
	text-align:center;
	vertical-align: middle;
	font-size: 10px;
	margin-bottom: 5px;
	cursor:pointer;
	background-image:url('../images/fakeFlashButtonBg.gif');
	background-position : bottom;
	background-repeat : repeat-x;
	color : #667;
	font-weight: bold;
	-moz-border-radius : 5px;
	border-radius : 5px;
}
.fakeUploadButton img {
    margin-bottom: 3px;
}

.fakeOptionButton {
   padding-top: 3px;
   padding-bottom: 3px;
	margin-bottom: 0px;
	margin-top: 5px;
	background-position : center;
	-moz-border-radius : 5px;
	border-radius : 5px;
}

#uploadBrowseButton {  
        position: absolute;  
        top: 0px; right: 0px;  
        margin:0;  
}  
#uploadSendButton {  
        position: absolute;  
        top: 60px; right: 0px;  
        margin:0;  
}  

#uploadFilesListContainer
{
	vertical-align:top;
	font-size: 11px;
	letter-spacing: 1;
}

/*
 SEARCH BOX / INFO PANEL
*/

#panelsToggle
{
    height: 23px;
    cursor:pointer;
}

.toggleHeader
{
    width: 50%;
	cursor:	pointer;
	padding-right: 2px;
}

.toggleHeader a, .toggleHeader a, .toggleHeader a:link, .toggleHeader a:visited, .toggleHeader a:hover , .toggleHeader a:active
{
	text-decoration:none;	
}

.panelHeader img
{
    float:right;
}

.toggleInactive
{
    background-color:#DADDD7;
}

.toggleInactive a, .toggleInactive a:link, .toggleInactive a:visited, .toggleInactive a:hover , .toggleInactive a:active
{
	color: #999;
	text-decoration:none;	
}
 
#search_div
{
/*    width: 100%;*/
    font-family: Trebuchet MS, sans-serif, Helvetica, Arial, Sans-serif;
    font-size: 11px;
}

#search_results
{
    width:100%;
    overflow: auto;
    height: 120px;
    background-color: #fff;
}

#search_container
{
    padding:0px;
}

#search_form, #search_state
{
     padding-left: 10px;
     margin-top:10px;
     text-align: center;    
     /*height: 30px;*/
}
#search_form
{
    border-bottom: 1px solid #676965;
}
#search_form a
{
    display:block;    
    float:left;
    width:18px;
    cursor: pointer;
    margin-right: 0px;
    margin-left: 5px;
    padding: 1px;    
}

#search_form input
{
    margin: 0px;
    padding: 0px;
    height: 20px;
    border: 1px solid #aaa;
	background-image:url('../images/locationBg.gif');
	background-position:left top;
	background-repeat:no-repeat;    
}

#search_meta {
	clear:left;
	text-align:left;
	padding-left: 2px;
	padding-right:52px;
}

meta_opt {
	cursor: pointer;
}

meta_opt.checked {
	text-decoration: underline;
	font-weight: bold;
}

#search_results
{    
    margin-left:0px;
    width: 100%;
}

#search_results em {
	color: red;
	font-style:normal;
}

#search_results div
{
    border-bottom: 1px solid #f1f1ef;
    padding: 4px;
    cursor: pointer;
}

#search_results div:hover
{
	background-color : #73a2d7;
	color : white;
}

.infoPanelActions
{
	padding:5px;
}

#info_panel
{
	overflow:auto;
}

#info_panel a
{
    color:#676965;
    display: block;
    padding: 3px 2px;
}

#info_panel a:hover
{
	font-weight : bold;
}

#info_panel a img{
	margin-right : 5px;
} 

#info_panel a:hover
{
   text-decoration:none;
}

#info_panel div.folderImage
{
   text-align:center;
   padding-bottom: 10px;
}

.infoPanelTable
{
	font-size: 11px;
	width: 100%;
}

td.infoPanelValue
{
	padding:3px;
}

td.infoPanelLabel
{
	padding:3px 5px;
	font-weight:bold;
	width:35%;
}

.infoPanelGroup
{
	border-top: 1px dotted #676965;
	border-bottom: 1px dotted #676965;
}

tr.even td.infoPanelLabel
{
	border-right:1px solid white;
}

tr td.infoPanelLabel
{
	border-right:1px solid #f4f4f4;
}

.infoPanelImagePreview 
{
	width: 100%;
	background-color: #f4f4f4;
	text-align:center;
	padding: 10 0;
}


#browser
{
	border : 1px solid #676965;
    padding:3px;
    clear:left;
    background-color:#c4c7c1;
}

div#selectable_div, #table_rows_container, #tree_container, #bottomSplitPane{
    font-family: Trebuchet MS, sans-serif, Helvetica, Arial, Sans-serif;
    font-size: 11px;
   	background-image: url('../images/strip.png');
}

.no_select_bg::selection {
	background:transparent;
}

.no_select_bg::-moz-selection {
	background:transparent;
}

#vertical_splitter{
    overflow: hidden; 
    background-color: #fff;
}

#sidebar_splitter{
    overflow: auto;
    width: 200px;
}

.splitterContentPane{
	border: 1px solid #676965;
}

.vsplitbar
{
   width: 4px;
   background-color: #e0ecff;
   background-color: #c4c7c1;
   background-image: url(../images/vgrabber.gif);
   background-repeat: no-repeat;
   background-position: center;
   /*border: 1px solid;*/
	border-color:	#fff ButtonShadow
					ButtonShadow #fff;
   
}
.vsplitbar.active
{
  background-color: #666;
}

.vsplitbar:hover 
{
  background-color: #ccc;
}

.hsplitbar
{
   height: 4px;
   background-color: #e0ecff;
   background-color: #c4c7c1;
   background-image: url(../images/hgrabber.gif);
   background-repeat: no-repeat;
   background-position: center;
   /*border: 1px solid;   */
	border-color:	#fff ButtonShadow
					ButtonShadow #fff;
}
.hsplitbar.active
{
  background-color: #666;
}

.hsplitbar:hover{
  background-color: #ccc;
}


#splashScreen
{
   width: 430px;
   height: 332px;   
}

#docFileIframe
{
	border-bottom:1px solid #AAAAAA;
	height:300px;
	left:0;
	position:relative;
	top:0;
	width:100%;
}

#adminIFrame
{
    border: 1px solid white;
    width: 641px;
    height: 390px;
    background-color: #fff;
}

/*********************
ADMIN STYLES
**********************/
#users_list,
#repo_list
{
    height: 299px;
    width: 200px;
    float: left;
    padding-top: 5px;
    overflow: auto;
}
#users_detail_panel, 
#repo_detail_panel{
	width: 438px;
    height: 299px;
    float: left;
	border-left: 1px solid #bbb;
    overflow: auto;
}

#repo_list{
    height: 294px;
}

#repo_detail_panel fieldset
{
	margin:10px;
    font-family: Trebuchet MS, sans-serif;
    font-size: 13px;	
}

.metaPane{
	border-bottom:1px solid #eee;
	border-top:1px solid #ccc;
	background-color: #f6f6f6;
	margin-bottom:5px;
	margin-top:2px;
	float:left;
	padding:6px 5px 8px;
	width:96%;
}

.metaPane img{
	float:right;
	cursor:pointer;
	margin-left: 3px;
}

.metaPane span.title{
	font-weight: bold;
}

.users_list_title
{
    font-family: Trebuchet MS, Nimbus Sans L, sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding-left: 5px;
    border-bottom: 1px solid white;
    background-color: #bbb;
}


.user
{    
    padding-top: 15px;
    padding-left: 5px;
    padding-bottom: 15px;
    background-color: #fff;
    border-top: 1px solid #fff; 
    border-bottom: 1px solid #fff;
    border-left: 1px solid #fff;
    margin-left: 5px;
}

.user_id, .user_data, .repository, .password
{
    font-family: Trebuchet MS, sans-serif;
    font-size: 11px;
}

.wallet_pane{
	background-color:#EFEFEF;
	border-left:1px solid;
	margin-left:2px;
	margin-right:13px;
	padding:0 10px 0 0;
}
.wallet_pane div.driver_form{
	width:215px;
}
.wallet_pane input.dialogButton{
	float:right;
	border: 1px solid #676965;
}

.user_data
{
    background-color: #fff;
}

fieldset
{
    border: 1px solid #ccc;
    padding: 10px;
    padding-top: 5px;
    margin-bottom: 5px;
}

legend
{
    color: #79f;
    font-weight: bold;
}

legend a{
	cursor: pointer;
}

legend a.active {
	color: #676965;
	text-decoration:underline;
	cursor: default;
}

.repository, .repository td, .password td
{
   padding: 1px;
}

.repository td
{
   vertical-align: bottom;
}

.repository input, .user_delete_confirm
{
   border: none;
   margin-left: 1px;   
   margin-top: 0px;
   padding: 0px;   
}

.user_data
{
    padding: 10px;
    /*padding-right: 20px;*/
}

.user_id
{
    cursor: pointer;
    font-size: 17px;
}

.user_id b
{
    color: #666;
}
#user_admin_bar, #repo_create_form, #log_chooser
{
   font-family: Trebuchet MS, sans-serif;
   padding: 15px;
   font-size: 12px;
   border: 0px solid #ddd;
   background-color: #ddd;
   border-bottom: 1px solid #bbb;
}

#user_admin_bar input, .password input
{
   height: 18px;
   width: 90px;
   font-size: 12px;
   padding: 0px;
   margin-left: 0px;
   margin-right: 5px;
}

#user_admin_bar .submit_button, .password .submit_button,
#options_pane .submit_button, .password .submit_button 
{
   width: 30px;
}

#user_admin_bar b,
#repo_create_form b,
#log_chooser b
{
   font-size: 15px;
   color: #666;   
}

#user_pref_form input
{
   width: 65px;
   padding: 0px;
   margin-right: 5px;
}

#user_pref_form input.radio
{
   width: 20px;
   border: 0px;
   background-image: none;
}

#repo_create_form select
{
   border: 1px solid #79f;
   height: 20px;
   width: 160px;
}


/***********************/
/* EDITORS & DIAPORAMA */
/***********************/
textarea.editor
{
	background-color:white;
	font-family:monospace;
	font-size:13px;
	line-height:16px;
	white-space:normal;
}

.diaporamaButton
{
  filter:alpha(opacity=40);
  opacity: 0.4;
  -moz-opacity:0.4;
}
.diaporamaButtonActive,
.diaporamaButton:hover
{
  filter:alpha(opacity=100);
  opacity: 1;
  -moz-opacity:1;
}


/***********************/
/* AUTOCOMPLETION DIV  */
/***********************/
div.autocomplete 
{
      position:absolute;
      font-family:Trebuchet MS, sans-serif;
      font-size: 11px;
      width:250px;
      background-color:white;
      border:1px solid #bbb;
      margin:8px 0px 0px;
      padding:0px;
}
div.autocomplete ul 
{
      list-style-type:none;
      margin:0px;
      padding:0px;
}
div.autocomplete ul li.selected 
{ 
      background-color: #73a2d7;
}
div.autocomplete ul li 
{
      list-style-type:none;
      display:block;
      margin:0;
      padding:2px;
      cursor:pointer;
}

/************************/
/* CONTEXT MENU STYLES  */
/************************/
div.menu {
	position: absolute;
	top: 0;
	left: 0;
	font-family: verdana;
	-moz-border-radius:5px;
	border-radius:5px;	
}
div.menu a {
	display: block;
	text-decoration: none;
	cursor: default;
	outline: none;
	font-size: 11px;
}
.menu .separator {
	height: 1px;
	padding: 0;
	overflow: hidden;
	display: block;
	font-size: 1px;
}
.menu ul, .menu li {
	margin: 0;
	padding: 0;
	list-style: none;
}
.menu li {
	list-style-position: outside;
	height: 24px;
}

.menu.desktop {
	width: 10em;
	background: #f1f1ef;
	border: 1px solid #676965;	
	padding: 0;
    padding-top: 0px;
    padding-bottom: 1px;
}

.menu.desktop.toolbarmenu {
	border: 1px solid #fff;	
	background: #fff;
    padding-bottom: 0px;
	width: auto;
   /* IE */
   width:expression("150px"); 	
	-moz-border-radius : 0 5 5 5px;
	border-radius : 0 5 5 5px;   
}

.menu.desktop.toolbarmenu img {
	width: 22px;
	height:22px;
}

.menu.desktop ul, .menu.desktop li {
	margin: 0;
	padding: 0;
}

.menu.desktop li{
    padding: 0px;
    padding-top: 1px;
    padding-bottom: 1px;
}

.menu.desktop.toolbarmenu li {
	height: auto;
    padding-top: 1px;
    padding-bottom: 0px;
}

.rootDirChooser li.menuTitle {
   font-size: 11px;
   font-weight: bold;
   padding-top: 2px;
   padding-left: 5px;
   padding-right: 25px;
   padding-bottom: 5px;   
   color: #ccc;
   border-bottom: 0px solid #ddd;
   text-align: left;
   font-style: italic;
   display: none;
}

.menu.desktop li.separator {
	padding: 0px;
	height: 1px;
}
.menu.desktop a img{
    margin-right: 9px;
    margin-top: -5px;
}

.menu.desktop a {
	color: #000;
	padding: 6px 0 2px 5px;
	margin: 0;
	height: 17px;
    font-family: Arial;
	font-size:11px;
}

.menu.desktop.toolbarmenu a img{
    margin-right: 6px;
}

.menu.desktop.toolbarmenu a {
	color: #000;
	padding: 11px 20px 5px 8px;
	margin: 0;
    font-family: Arial;
	font-size:11px;
}

.menu.desktop a.disabled {
	opacity: 0.25;
	filter: alpha(opacity=25);
	zoom: 1;
}
.menu.desktop li.separator {
	border-bottom: 1px solid #fff;
	margin: 1px 1px 0 1px;
	line-height: 1px !important;
}
.bookmarksMenu li.separator {
	border-bottom: 1px solid #fff;
	margin: 1px 1px 0 1px;
	line-height: 1px !important;
	padding: 0px;
	height: 1px !important;	
}
/* we need explicit enabled class to overcome css deficiences (without creating unnecessary markup) */
.menu.desktop a.enabled:hover {
	background-color: #73a2d7;
	color: #fff;
}

.menu.desktop li.menuAnchorSelected,
.menu.desktop li.menuAnchorSelected a {
	background-color: #73a2d7;
	color: #fff !important;
}

.rootDirChooser
{
   font-size: 11px;
   font-family: Trebuchet MS, sans-serif, Helvetica, sans-serif;
   position:absolute;
   z-index: 1500;
   background-color:#f1f1ef;  
   min-width: 150px;
   /* IE */
   width:expression("250px"); 
   border: 1px solid #676965;
}

.rootDirChooser img
{
   border: 0px;
}

.rootDirChooser a, 
.bookmarksMenu a
{
   display: block;
   padding: 2px;
   padding-right: 20px;
   padding-left: 5px;
   padding-top: 4px;
}

.rootDirChooser a img, 
.bookmarksMenu a img
{
   margin-right:5px;
}
.rootDirChooser a.disabled IMG{
	filter: alpha(opacity=30);
	opacity: 0.3;
	-moz-opacity: 0.3	
}

.rootDirChooser span.rootDirTitle
{
   display: block;
   font-size: 12px;
   font-weight: bold;
   padding-top: 1px;
   padding-left: 5px;
   padding-right: 50px;   
   color: #ccc;
   border-bottom: 0px solid #ddd;
   text-align: left;
   font-style: italic;
}

.rootDirChooser a:hover,
.bookmarksMenu a:hover,
.bookmarksMenu a.hovered,
.rootDirChooser a.hovered
{
   background-color: #73a2d7;
   color: #fff;
}

.rootDirChooser li.separator {
	border-bottom: 1px solid #fff;
	margin: 1px 1px 0 1px;
	line-height: 1px !important;
	padding: 0px;
	height: 1px !important;	
}


.bookmarksMenu
{
   font-size: 11px;
   font-family: Trebuchet MS, Helvetica, sans-serif;
   position:absolute;
   z-index: 1500;
   background-color:#f1f1ef;  
   border: 1px solid #676965;
   width: 200px;
   padding: 2px;
}

.menuActions {
   float: right;
   width: 50px;
   padding-top: 3px;
   padding-right: 3px;
   text-align: right;
}

.menuActions a{
	width: 18px;
	padding: 1px;
	display: inline !important;
	filter:alpha(opacity=30);
	opacity: 0.3;
	-moz-opacity:0.3;	
	cursor: pointer !important;
}

.menuActions a:hover
{
   filter:alpha(opacity=100);
   opacity: 1.0;
   -moz-opacity:1.0;
}

.backgroundPanel{
   position:absolute;   
   right:0;
   bottom:20px;
   padding:1px 5px 3px 7px;
   font-size:11px;
   font-weight:bold;
   color: #fff;
   font-family: Trebuchet MS, sans-serif;
   background-color:#79f;
   filter:alpha(opacity=80);
   opacity: 0.8;
   -moz-opacity:0.8;
}

/*******************************/
/* CREDIT SPLASH SCREEN
/******************************/
#docDiv div.title
{
    font-size:13px;
    font-weight: bold;
}

#docDiv div.subtitle
{
    color: #79f;
    font-size:12px;
    font-weight: bold;
}