@import url("content.css");
@import url("tabs.css");
/*basic*/
html,body{
	margin: 0;
	padding: 0;
	text-align: center;
	background-image: url(Images/bg.jpg);
	background-repeat: repeat-x;
	background-color: #FFF;
	background-position: 0 5px;}
	
body,td,th{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #333;
	line-height: 18px;}
		
img{border:none;}

form{display:inline}

input{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;}
	
input.txt1{
	margin: 0 5px 0 0;
	padding: 3px 0 1px 2px;
	height: 15px;
	color: #666600;
	background-color: #FFF;
	border: 1px solid #D5DD8C;}
	
input.txt2{
	margin: 0 5px 0 0;
	padding: 3px 0 1px 2px;
	height: 15px;
	color: #666600;
	background-color: #FFF;
	border: 1px solid #DDD;}
	
input.txt3{
	margin: 0 5px 0 0;
	padding: 2px 0 1px 2px;
	height: 13px;
	color: #FF6600;
	background-color: #FFF;
	border: 1px solid #DDD;}
		
input.btn{
	padding: 1px;
	height: 18px;
	color: #666600;
	background-color: #FFF;
	border: 1px solid #DDD;
	background-image: url(Images/btn/btu_bg.jpg);
	background-repeat: repeat-x;
	background-position: top;
	cursor:hand;cursor:pointer;}
	
select {
	margin: 0;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 20px;
	height: 19px;
	color: #555;
	background-color: #FFF;
	border: 1px solid #DDD;}
	
textarea{
	margin: 0;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 18px;
	color: #555;
	width: 100%;
	background-color: #FFF;
	border: 1px solid #DDD;}
	
/*text*/
	
/*a {blur:expression(this.onFocus=this.blur());}*/
	
a:link, a:visited {
	font-size: 11px;
	color: #666;
	text-decoration: none;}
a:hover {
	font-size: 11px;
	color: #FF3300;
	text-decoration: none;}
	
p{
	margin: 0 0 15px 0;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #333;
	line-height: 18px;}	
	
h1 {
	margin: 0 0 8px 0;
	padding: 0;
	color: #669900;
	font-size: 13px;
	font-weight: bold;}
	
h1.float {
	margin: 0 12px 0 0;
	float: left;}
	
h2 {
	margin: 0 0 6px 0;
	padding: 0;
	font-size: 15px;
	color: #557A02;}
	
h2.secondary {
	margin: 10px 0 6px 0;
	padding: 0;
	font-size: 13px;
	color: #777777;}
	
h3 {
	margin: 0 0 5px 0;
	padding: 0;
	font-size: 12px;
	color: #555;
	font-weight: normal;}
	
.color1{color: #FF3300}
.color2{color: #926741}
.color3{color: #555}
.notes{font-size: 12px;color: #555;font-weight: normal;}
	
/*layout*/	
#wrap{
	margin: 0 auto;
	padding: 10px 10px 0 10px;
	width: 980px;
	text-align: left;
	position: relative;}
	
	
#index{
	margin: 0;
	padding: 35px 0 10px 0;}

#top{
	margin: 0;
	padding: 0;
	height: 65px;}

#left{
	margin: 55px 0 0 0;
	padding: 0;
	width: 210px;
	float: left;}
	
#main{
	margin: 15px 0 0 0;
	padding: 15px 0 10px 10px;
	width: 750px;
	float: right;}
	
#content{
	margin: 0;
	padding: 15px 16px 20px 16px;
	clear: both;
	background-color: #FFF;
	border: 1px dashed #999;}
		
#footer{
	margin: 0;
	padding: 0;
	width: auto;
	height: 35px;
	text-align: center;
	
	background-repeat: repeat-x;
	background-color: #727A7D;
	clear: both;}
.treetable {
	color: #808080;
	margin: 0px 0px 0px 0px;
	padding: 0px;
}
.treetable td.f2 {
	border-bottom: 1px dotted #C5C386;
}

.detailtable0{
	margin: 0px 0px 0px 0px;
	background-color: #FFFFFF;
	border-collapse: collapse;
	line-height: 20px;
	}
.detailtable0 tr.color {	
	background-color: #FCFCE2;}

.detailtable0 td {
	color: #555555;
	padding: 2px 5px 2px 5px;
	}
.outer1{
	width:176px;
	height:132px;
	background:#eee;
	display:table-cell;
	text-align:center;
	vertical-align:middle;
	border:2px solid #DDD;
}
.outer1 *{vertical-align:middle;}
.outer1 span{height:100%;display:inline-block;}
.outer2{
	width:220px;
	height:165px;
	background:#eee;
	display:table-cell;
	text-align:center;
	vertical-align:middle;
	border:2px solid #DDD;
}
.outer2 *{vertical-align:middle;}
.outer2 span{height:100%;display:inline-block;}