
            
            @color: #cccccc;
            @top-min-height: 350px;
            @bottom-min-height: 150px;
            @basic-padding: 10px;

            

            .rounded-corners (@radius: 5px) {
                -webkit-border-radius: @radius;
                -moz-border-radius: @radius;
                -ms-border-radius: @radius;
                -o-border-radius: @radius;
                border-radius: @radius;
            }
            
            body{
                max-width: 1240px;
            }

            #header{
                background-color: #000;
                color:#bbb;
            }

            #main{
                padding:@basic-padding;
                .rounded-corners;
                min-height:@top-min-height;
                background-color:@color;
                font-weight:bold;
            }
            
            #left_side{
                padding:@basic-padding;
                .rounded-corners;
                min-height:@top-min-height;
                background-color:@color;
                font-weight:bold;
            }
            
            #output{
                padding:@basic-padding;
                .rounded-corners;
                min-height:@bottom-min-height;
                background-color:@color;
                font-weight:bold;
            }
            
            #comment{
                padding:@basic-padding;
                .rounded-corners;
                min-height:@bottom-min-height;
                background-color:@color;
                font-weight:bold;
            }
